<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tong-quan" href="/tong-quan">
      <ion-icon name="home"></ion-icon>
      <ion-label>Tong quan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tong-quan" href="/tong-quan">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>So giao dich</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tong-quan" href="/tong-quan">
      <ion-icon name="add-circle" color="success" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tong-quan" href="/tong-quan">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Ngan sach</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tong-quan" href="/tong-quan">
      <ion-icon name="person"></ion-icon>
      <ion-label>Tai khoan</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
